.todo-input {
  padding: 20px 5px;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  box-sizing: border-box;
  font-weight: bold;
  color: var(--primary-color)
}
.down-icon {
  width: 0.8em;
  margin: 0 20px;
}

.input-form {
  display: flex;
}
.todo-input:focus-visible {
  outline: none;
}
